*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #2980b9;
    color: white;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    height: 100%;
}

body, .popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

p {
    letter-spacing: 1px;
}

canvas {
    margin-top: 20px;
}

.teal {
    color: rgb(116, 194, 225);
    text-shadow: 1px 1px rgba(0,0,0,0.75);
}

.pink {
    color: rgb(200, 0, 100);
    text-shadow: 1px 1px rgba(0,0,0,0.75);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    background-color: rgb(116, 194, 225);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

.popup h4 {
    margin-bottom: 40px;
}

.popup input {
    border: 0;
    border-radius: 0;
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%;
}

.popup #btn {
    background-color: rgb(200, 0, 100);
    color: #fff;
    font-weight: bold;
}